<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--====form section start====-->
<div class="user-detail">
    <h2>Create User Data</h2>
    <form action="./addnew" method="POST">
          <label>Full Name</label>
          <input type="text" placeholder="Enter Full Name" name="fname" required>
          <label>Last Name</label>
          <input type="text" placeholder="Enter Full Name" name="lname" required>
          <label>Email Address</label>
          <input type="email" placeholder="Enter Email Address" name="email" required>
          <label>Mobile</label>
          <input type="text" placeholder="Enter Full City" name="mobile" required>
        
          <button type="submit">Submit</button>
    </form>
</div>
<!--====form section start====-->
</body>
</html>